@model BasherBlog.Models.UserRole;

@{
    ViewData["Title"] = "UserRole";

}

<h1>Login</h1>

<div class="Container">
    <div class="row">

        <div class="col-md-4"></div>

        <div class="col-md-4">
            <form asp-action="AddUpdateRole">
                <label asp-for="Name">Name </label>
                <input asp-for="Name" class="form-control" placeholder="Enter Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
                <br />

                @*
                @if (string.IsNullOrEmpty(ViewBag.error))
                {
                <p class="text-danger ">@ViewBag.Error </p>
                }*@
                <button type="submit" class="btn btn-danger ">AddUpdate</button>

            </form>
        </div>

        <div class="col-md-4"></div>
    </div>
</div>
